input, select {
    margin: 0 0 20px 0;

}

h1 {
    margin: 0px 0 45px 0;
    text-align: center;
    color: white;
}

.calc-body {
    padding: 60px;
}

.otvet {
    background-color: green;
}

.result {
    margin: 20px 0 0 0;
}

.card {
    margin: 15px 0 0 0;
    padding: 20px;
    background-color: rgb(132, 100, 161);
    color: white;
    font-size: 40px;
    border-radius: 20px;
}

.btn-primary {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: black;
    color:white;
    border-color: black;
}

.btn-size-lg {
    font-size: 30px;
}


@media (min-width: 960px) {
  .display-none-xs {
    display: none;
  }
}